body {
    background: #fafafa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

ahv-list {
    position: fixed;
    overflow-y: auto;
    top: 72px;
    bottom: 0;
    width: 25%;
    z-index: 9999;
}

.container {
    position: absolute;
    left: 25%;
    right: 0;
    top: 0;
    bottom: 0;

    ahv-properties {
        margin-top: 8px;
        z-index: 9999;
    }

    ahv-properties, ahv-preview {
        position: relative;
    }
}

core-toolbar {
    z-index: 9999;
    color: #FAFAFA;
    background-color: #009688;

    core-label {
        font-size: 0.8em;
    }
    paper-checkbox {
        margin: 0 4px;
    }

    polyfill-next-selector { shadow: '#checkboxContainer'; }
    paper-checkbox::shadow {
        #checkbox {
            border-color: #FAFAFA;
        }

        #checkbox.checked {
            background-color: #FAFAFA;
            border-color: #FAFAFA;
        }

        #checkmark {
            border-color: #009688;
        }
    }
}


