body {
    background: #fafafa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

ahv-list {
    min-width: 20%;
}

.container {
    position: fixed;
    height: 90%;
    width: 100%;

    ahv-properties, ahv-preview {
        position: relative;
    }
}

core-toolbar {
    color: #FAFAFA;
    background-color: #009688;

    core-label {
        font-size: 0.8em;
    }
    paper-checkbox {
        margin: 0 4px;
    }

    polyfill-next-selector { shadow: '#checkboxContainer'; }
    paper-checkbox::shadow {
        #checkbox {
            border-color: #FAFAFA;
        }

        #checkbox.checked {
            background-color: #FAFAFA;
            border-color: #FAFAFA;
        }

        #checkmark {
            border-color: #009688;
        }
    }
}
