:host /deep/ ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.5em
}

:host /deep/ li {
    position: relative;
    display: block;
    margin: -1px 0 0;
    background-color: #fff;
    border: 1px solid #ddd;

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    core-icon {
        margin-left: 8px;
        color: #009688;
    }
}

:host {
    margin-top: 1px;
}
